@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap");
/* Variables */
/* Variables */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Oxygen', sans-serif;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #222;
  color: #fffafa;
}

body.disableScroll {
  overflow: hidden;
}

header#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  background-color: transparent;
  z-index: 99;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

header#header button#open_menu_button {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 20px;
  top: 20px;
  z-index: 2;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header#header button#open_menu_button i {
  font-size: 25px;
  color: #222;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

header#header ul#menu {
  width: 80%;
  height: 100vh;
  background-color: #fffafa;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 15px;
  z-index: 2;
  position: relative;
  left: -1000px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header#header ul#menu .logo_section {
  padding: 10px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header#header ul#menu .logo_section a.logo {
  text-decoration: none;
  font-size: 25px;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
}

header#header ul#menu .logo_section a.logo img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

header#header ul#menu .logo_section .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header#header ul#menu .logo_section .toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #c8c8c8;
  overflow: hidden;
}

header#header ul#menu .logo_section .toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

header#header ul#menu .logo_section .active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #009B77;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.05s linear 0.17s;
  transition: -webkit-transform 0.05s linear 0.17s;
  transition: transform 0.05s linear 0.17s;
  transition: transform 0.05s linear 0.17s, -webkit-transform 0.05s linear 0.17s;
}

header#header ul#menu .logo_section .toggle-state {
  display: none;
}

header#header ul#menu .logo_section .indicator {
  height: 100%;
  width: 200%;
  background: #fffafa;
  border-radius: 13px;
  -webkit-transform: translate3d(-75%, 0, 0);
          transform: translate3d(-75%, 0, 0);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35), -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

header#header ul#menu .logo_section .toggle-state:checked ~ .active-bg {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

header#header ul#menu .logo_section .toggle-state:checked ~ .toggle-inner .indicator {
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

header#header ul#menu li {
  list-style: none;
  margin-top: 10px;
}

header#header ul#menu li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.7rem 0.5rem;
  border-radius: 6px;
  color: #222;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header#header ul#menu li a img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

header#header ul#menu li a i {
  font-size: 25px;
  margin-right: 8px;
  font-weight: lighter;
}

header#header ul#menu li a:hover {
  background-color: #eee;
}

header#header ul#menu li a.active {
  background-color: #eee;
}

header#header ul#menu.open {
  left: 0;
}

header#header ul#menu.open ~ .overlay_menu_mobile {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

body.dark header#header ul#menu {
  background-color: #111;
}

body.dark header#header ul#menu .logo_section a.logo {
  color: #fffafa;
}

body.dark header#header ul#menu li a {
  color: #fffafa;
}

body.dark header#header ul#menu li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

body.dark header#header ul#menu li a:hover {
  background: #222;
}

body.dark header#header ul#menu li a.active {
  background: #222;
}

header#header .overlay_menu_mobile {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header#header .overlay_menu_mobile.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 576px) {
  header#header {
    display: none;
  }
}

header#header.scrolled {
  background-color: #111;
}

header#header.scrolled button#open_menu_button i {
  color: #fffafa;
}

body.dark header#header.scrolled button#open_menu_button i {
  color: #fffafa;
}

body.dark header#header button#open_menu_button i {
  color: #fffafa;
}

main {
  padding: 0 50px;
}

main .hero__first {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 80vh;
  padding: 0px;
}

main .hero__first .fadeup-enter h1 {
  margin: 0px 0px 25px 4px;
  color: #009B77;
  font-family: 'Oxygen Mono', monospace;
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
}

main .hero__first .fadeup-enter h2 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  color: 10px 10px 20px rgba(0, 0, 0, 0.16);
  font-weight: lighter;
}

main .hero__first .fadeup-enter h3 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  margin-top: 10px;
  color: 10px 10px 20px rgba(170, 170, 170, 0.16);
  line-height: 0.9;
}

main .hero__first .fadeup-enter p {
  margin: 20px 0px 0px;
  max-width: 540px;
  line-height: 1.6;
  color: #c8c8c8;
}

main .hero__first .fadeup-enter a {
  display: inline-block;
  position: relative;
  color: #009B77;
  background-color: transparent;
  border: 2px solid #009B77;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: 'Oxygen Mono', monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
}

@media (max-width: 480px) {
  main {
    padding: 0 25px;
  }
}

/* .fadeup-enter {
    opacity: 0.01;
    transform: translateY(20px);
    transition: opacity 300ms var(--easing), transform 300ms var(--easing);

    &.done {
        opacity: 1;
    }
} */
/*# sourceMappingURL=styles.css.map */