@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;
}

header#header {
  position: relative;
  width: 100%;
  padding-top: 60px;
  height: 0;
  background: #FF416C;
  background: -webkit-gradient(linear, right top, left top, from(#FF4B2B), to(#FF416C));
  background: linear-gradient(to left, #FF4B2B, #FF416C);
}

header#header button#open_menu_button {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 20px;
  top: 20px;
}

header#header button#open_menu_button img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

header#header ul#menu {
  width: 83%;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px;
  z-index: 2;
  position: relative;
  top: -60px;
  left: -1000px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header#header ul#menu .logo_section {
  padding: 10px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header#header ul#menu .logo_section a.logo {
  text-decoration: none;
  font-size: 25px;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
}

header#header ul#menu .logo_section a.logo img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

header#header ul#menu .logo_section .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header#header ul#menu .logo_section .toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

header#header ul#menu .logo_section .toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

header#header ul#menu .logo_section .active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: #BC243C;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.05s linear 0.17s;
  transition: -webkit-transform 0.05s linear 0.17s;
  transition: transform 0.05s linear 0.17s;
  transition: transform 0.05s linear 0.17s, -webkit-transform 0.05s linear 0.17s;
}

header#header ul#menu .logo_section .toggle-state {
  display: none;
}

header#header ul#menu .logo_section .indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  -webkit-transform: translate3d(-75%, 0, 0);
          transform: translate3d(-75%, 0, 0);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35), -webkit-transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

header#header ul#menu .logo_section .toggle-state:checked ~ .active-bg {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

header#header ul#menu .logo_section .toggle-state:checked ~ .toggle-inner .indicator {
  -webkit-transform: translate3d(25%, 0, 0);
          transform: translate3d(25%, 0, 0);
}

header#header ul#menu li {
  list-style: none;
}

header#header ul#menu li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 6px;
  border-radius: 6px;
  color: #222;
  font-weight: 600;
}

header#header ul#menu li a img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

header#header ul#menu li a:hover {
  background-color: #eee;
}

header#header ul#menu li a.active {
  background-color: #eee;
}

header#header ul#menu.open {
  left: 0;
}

header#header ul#menu.open ~ .overlay_menu_mobile {
  opacity: 1;
  -webkit-transition: all .8s;
  transition: all .8s;
}

header#header .overlay_menu_mobile {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
}

header#header .overlay_menu_mobile.hidden {
  visibility: hidden;
  opacity: 0;
}

main {
  padding: 15px;
}

main h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

main p {
  text-align: justify;
  margin: 10px 0;
}
/*# sourceMappingURL=styles.css.map */